# Python packages
__pycache__/
data/__pycache__
training_utils/__pycache__

# VSCode settings
.vscode/

# Attempts records
attempts/

# Datasets
data/lmdb/*
data/raw_mimic_iii/*
data/raw_mimic_iii_xl/*
data/raw_vital_db/*
data/data_logs/*

# Checkpoints
checkpoints/

# Logs
logs/

# TensorBoard logs
tensorboard/

# Figures
figs/


